* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 3rem 0;
}

section {
    max-width: 1000px;
    margin: 0 auto;
}

.article-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.item-card { 
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 3rem);
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0 1rem 1rem 0;
}
.item-img {
    width: 100%;
}
.item-img img {
    max-width: 100%;
    height: auto;
}